<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet",
    href=""http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <style type="text/css">
        .todo-table {
            margin: 0 auto;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="todo-head center">
        <h1>Todo</h1>
        <form action="{{ url_for('.add') }}" method="post">
            <input type="text" name="task" placeholder="add todo">
            <input class="pure-button pure-button-primary" type="submit"
            value="Add">
        </form>
    </div>
    <table class="todo-table pure-table pure-table-horizontal
        pure-table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Time</th>
                <th>Action</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todo_list %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.task}}</td>
                <td>{{ todo.created_time }}</td>
                <td><a href={{ url_for('.delete', id=todo.id)
                        }}>delete</a></td>
                <td><a href={{ url_for('.edit', id=todo.id) }}>edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
